/WcfServiceTest/Entities/bin
/WcfServiceTest/Entities/obj
/WcfServiceTest/WcfServiceTest/bin
/WcfServiceTest/WcfServiceTest/obj
/WebApiTest/WebApiTest/obj
/WebApiTest/WebApiTest/bin
/WcfServiceTest/packages
/WebApiTest/packages
